.carusel {
	padding-top: 52px;
	padding-bottom: 60px;
	overflow: hidden;

	&__description {
		margin-bottom: 50px;
	}

	&__content {
		position: relative;
	}

	@media (min-width: $mobile-width) and (max-width: $tablet-width) {
		.carusel {

			&__slide {
				width: 100%;
			}

			&__slide img,
			&__slide picture{
				width: 100%;
				height: 300px;
				object-fit: cover;
			}

			&__slide figcaption {
				width: 50%;
				padding-left: 10px;
				padding-right: 10px;
			}

			&__nav {
				right: 0px;
			}
		}
	}

	&__slides {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		position: relative;
		left: 0;
		transition: 1s;
	}

	&__slide {
		width: 100%;
		opacity: 0.6;
		flex-shrink: 0;
	}

	&__slide--active {
		opacity: 1;
	}

	&__slide figure {
		margin: 0;
		display: flex;
	}

	&__slide figcaption {
		width: 230px;
		max-width: 230px;
		padding-left: 18px;
		padding-right: 55px;
		font-size: 13px;
		line-height: 20px;
		color: $text-color-second;
	}

	&__slide img,
	&__slide picture{
		width: 100%;
		height: 500px;
		object-fit: cover;
	}

	&__nav {
		margin: 0;
		padding: 0;
		display: flex;
		position: absolute;
		bottom: -8px;
		right: 45px;
		list-style: none;
		z-index: 10;
	}

	&__nav-item:first-child {
		margin-right: 20px;
	}

	&__nav-button {
		box-sizing: content-box;
		padding: 0;
		width: 34px;
		height: 56px;
		position: relative;
		border: none;
		background-color: transparent;
	}

	&__nav-button--prev {
		padding-left: 20px;
	}

	&__nav-button--next {
		padding-right: 20px;
	}

	&__nav-button::before {
		content: "";
		width: 24px;
		height: 46px;
		position: absolute;
		top: 5px;
		left: 5px;
		background-repeat: no-repeat;
		cursor: pointer;
	}

	&__nav-button--prev::before {
		background-image: url("../img/icon-arrow-left.svg");
		left: 25px;
	}

	&__nav-button--next::before {
		background-image: url("../img/icon-arrow-right.svg");
	}

	&__nav-button--prev:hover::before {
		top: 10px;
		background-image: url("../img/icon-arrow-left-hover.svg");
		animation: left 1.2s infinite;
	}

	&__nav-button--next:hover::before {
		top: 10px;
		background-image: url("../img/icon-arrow-right-hover.svg");
		animation: right 1.2s infinite;
	}

	&__nav-button--disabled {
		opacity: 0.5;
	}

	&__nav-button--disabled:hover::before {
		animation: none;
		cursor: not-allowed;
	}

	&__nav-button--prev.carusel__nav-button--disabled:hover::before {
		top: 5px;
		background-image: url("../img/icon-arrow-left.svg");
	}

	&__nav-button--next.carusel__nav-button--disabled:hover::before {
		top: 5px;
		background-image: url("../img/icon-arrow-right.svg");
	}
}
