.form {
	display: flex;
	flex-direction: column;

	&__list {
		margin: 0;
		margin-bottom: 18px;
		padding: 0;
		list-style: none;
	}

	&__item {
		margin-bottom: 28px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	@media (min-width: $mobile-width) and (max-width: $tablet-width) {
		.form {

			&__item {
				margin-bottom: 20px;
			}

			&__item label {
				padding: 0 5px;
				top: -12px;
				left: 20px;
			}

			&__item input {
				width: 80%;
				padding: 14px 25px;
				font-size: 16px;
				line-height: 20px;
			}

		}
	}

	&__item label {
		padding: 0 7px;
		display: block;
		position: absolute;
		top: -12px;
		left: 20px;
		background-color: $color-background-main;
		font-size: 13px;
		line-height: 24px;
		color: $color-primary;
		opacity: 0;
	}

	&__item:focus-within label {
		opacity: 1;
		transition: 0.2s;
	}

	&__item input {
		width: 100%;
		padding: 18px 25px;
		border: 1px solid $color-border-second;
		border-radius: 4px;
		font-size: 18px;
		line-height: 24px;
		color: $text-color-second;
	}

	&__item input:hover {
		border-color: $color-border;
	}

	&__item input:focus {
		outline: none;
		border-color: $color-primary;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		font-size: 13px;
		line-height: 20px;
		text-align: center;
		color: $text-color-second;
		order: 2;

		a {
			text-decoration: none;
			color: $color-primary;
		}
	}

	&__button {
		margin-bottom: 22px;
		align-self: center;
	}
}
