.greeting {
	max-height: 960px;
	margin-top: -103px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;

	&__inner {
		// height: 960px;
		padding-right: 20px;
		padding-left: 110px;
		display: grid;
		position: relative;
		grid-template-columns: 1fr 940px;
		grid-template-rows: auto 1fr 72px;
	}

	// &__inner::after {
	// 	content: "";
	// 	height: 100%;
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	right: 20px;
	// 	left: 49%;
	// 	background-color: #F2F2F2;
	// 	background-image: url("../img/promo-video-poster@1x.png");
	// 	background-repeat: no-repeat;
	// 	background-position: right bottom;
	// 	z-index: -1;
	// }

	// &__inner-left {
	// 	padding-top: 83px;
	// }

	&__description {
		margin-top: 290px;
		margin-bottom: 43px;
		grid-column: 1/2;
		grid-row: 1/2;
	}

	&__description h2 {
		margin: 0;
		margin-bottom: 26px;
		margin-left: -5px;
		font-size: 64px;
		line-height: 64px;
		letter-spacing: -0.5px;
	}

	&__description p {
		margin: 0;
		font-size: 21px;
		line-height: 30px;
	}

	&__content {
		margin-bottom: 40px;
		font-size: 0;
		grid-column: 1/2;
		grid-row: 2/3;
	}

	&__start-info {
		margin-left: 30px;
		font-size: 16px;
		line-height: 24px;
		color: #666666;
	}

	&__play-btn {
		padding: 0;
		width: 255px;
		height: 255px;
		position: absolute;
		top: 278px;
		right: 360px;
		text-align: center;
		background-color: transparent;
		border: none;
		border-radius: 50%;
		cursor: pointer;
	}

	&__play-btn > span {
		display: inline-block;
		margin-top: 12px;
		font-size: 21px;
		line-height: 30px;
		color: #F9572E;
	}

	&__play-btn .hover {
		opacity: 0;
	}

	&__play-btn:hover .hover {
		opacity: 1;
	}

	&__play-btn .default {
		opacity: 1;
	}

	&__play-btn:hover .default {
		opacity: 0;
	}

	&__scroll-btn {
		padding-bottom: 33px;
		position: relative;
		grid-column: 1/2;
		grid-row: 3/4;
	}

	&__scroll-btn a {
		display: inline-block;
		padding-left: 58px;
		line-height: 18px;
		color: rgb(249, 87, 46);
		text-decoration: none;
	}

	&__scroll-btn a::before {
		content: "";
		display: block;
		width: 43px;
		height: 32px;
		position: absolute;
		top: 2px;
		left: 4px;
		background-image: url("../img/icon-arrows-down.svg");
		background-repeat: no-repeat;
	}

	&__scroll-btn a:hover::before {
		width: 34px;
		left: 9px;
		background-image: url("../img/icon-arrows-down-hover.svg");
		animation: down 1.2s infinite;
	}

	&__poster {
		grid-column: 2/3;
		grid-row: 1/4;
	}
}

@keyframes down {
	from {
		top: 0;
	}
	to {
		opacity: 0.1;
		top: 30px;
	}
}
