.header {

	&__inner {
		width: 100%;
		padding-top: 48px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
	}

	&__logo {
		margin: 0 110px;
		line-height: 0;
	}

	&__logo-link {
		display: inline-block;
	}

	&__nav {
		margin-left: auto;
		margin-right: 100px;
	}

	&__nav-list {
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 21px;
		line-height: 25px;
	}

	&__nav-item {
		position: relative;
		margin-right: 20px;
	}

	&__nav-item:last-child {
		margin-right: 0;
	}

	&__nav-item a {
		padding: 10px;
		color: inherit;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
	}

	&__nav-item--icon a {
		padding-left: 40px;
	}

	&__nav-item svg {
		position: absolute;
		top: 9px;
		left: 6px;
	}


	&__nav-item:focus,
	&__nav-item:hover {
		color: rgb(249, 87, 46);
		;
	}

	&__nav-item:focus path,
	&__nav-item:hover path {
		transition: 0.2s;
	}
}
