html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: $mobile-width;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: $font-main;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: $desktop-width;
	margin: 0 auto;
	padding: $desktop-padding;
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
	.container {
		width: 100%;
		padding: $mobile-padding;
	}
}

@media (min-width: $tablet-width) {
	.container {
		width: $tablet-width;
		padding: $tablet-padding;
	}
}

@media (min-width: $desktop-width) {
	.container {
		width: $desktop-width;
		padding: $desktop-padding;
	}
}

@media (min-width: $full-screen-width) {
	.container-hd {
		width: $full-screen-width;
		margin: 0 auto;
		padding: $desktop-padding;
	}
}
