$font-main: "Muller Regular", "Arial", sans-serif;
$font-second: "Muller Medium", "Arial", sans-serif;

$retina-dppx: 1.5dppx;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1020px;
$laptop-width: 1440px;
$full-screen-width: 1920px;

$mobile-padding: 0 20px;
$tablet-padding: 0 20px;
$desktop-padding: 0 20px;

$text-color-primary: rgb(0, 0, 0);
$text-color-second: rgb(102, 102, 102);

$color-subtitle: rgb(51, 181, 163);

$color-border: rgb(99, 210, 193);
$color-border-second: rgb(204, 204, 204);

$color-background-main: rgb(255, 255, 255);
$color-background-second: rgb(242, 242, 242);

$color-primary: rgb(249, 87, 46);
$color-primary-text: rgb(255, 255, 255);
$color-primary-hover: rgb(255, 123, 89);
$color-primary-shadow: rgba(249, 87, 46, 0.6);
$color-primary-disabled: rgb(56, 55, 55);
